<!DOCTYPE html>
<html>
<head>
    <title>Flask + MySQL Example</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Admin Dashboard</h1>
    {% if 'admin' in session %}
        <h2>Welcome, {{ session['admin'][1] }}</h2>
    {% endif %}
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <!-- <ul>
        {% for row in data %}
        <li>{{ row }}</li>
        {% endfor %}
    </ul> -->
</body>
</html>
